<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTXZ3lKhX7t33oPE7-Af1ZG95m0U9oxyU</string>
	<key>GCM_SENDER_ID</key>
	<string>1045501620992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capturedHeart.learngualTest</string>
	<key>PROJECT_ID</key>
	<string>learngual-assesment</string>
	<key>STORAGE_BUCKET</key>
	<string>learngual-assesment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045501620992:ios:2271d048e42d1d543b39e5</string>
</dict>
</plist>